
    <main class="flex gap-5 max-md:flex-col">
      <section class="flex flex-col w-[35%] max-md:ml-0 max-md:w-full">
        <article class="flex flex-col grow justify-center px-6 py-14 w-full text-black rounded-md bg-zinc-300 min-h-[648px] max-md:px-5 max-md:mt-10">
          <div class="flex flex-col max-w-full w-[302px]">
            <header class="flex flex-col w-full text-sm">
              <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/ed168341482e4c45e1537bdbba0ec9be348b0aabebadb5a62a8d7d8a66ca1489?placeholderIfAbsent=true&apiKey=f814d152556d45aeb58d44f206a3cbd4" alt="Pacific Blue Co-Working Space logo" class="object-contain self-center aspect-square rounded-[1000px] shadow-[0px_4px_4px_rgba(0,0,0,0.25)] w-[60px]" />
              <h1 class="mt-5 text-center">Pacific Blue Co-Working Space</h1>
              <p class="mt-5">Client ID: CO-23432</p>
            </header>
            <section class="flex flex-col mt-5 w-full">
              <div class="flex flex-col items-center w-full">
                <div class="flex flex-col justify-between max-w-full min-h-[192px] w-[275px]">
                  <table class="w-full">
                    <thead>
                      <tr>
                        <th class="text-left">Product</th>
                        <th class="text-left">Price</th>
                        <th class="text-left">Qty</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Product A</td>
                        <td>Php 100</td>
                        <td>1</td>
                      </tr>
                      <tr>
                        <td>Product B</td>
                        <td>Php 400</td>
                        <td>1</td>
                      </tr>
                      <tr>
                        <td>Product C</td>
                        <td>Php 100</td>
                        <td>2</td>
                      </tr>
                      <tr>
                        <td>Product D</td>
                        <td>Php 300</td>
                        <td>1</td>
                      </tr>
                      <tr>
                        <td>Product E</td>
                        <td>Php 200</td>
                        <td>3</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/127bedc5722ce2dbaeda8972a2bd730f4ad88132b6a5e5ad9ff7010960cd1143?placeholderIfAbsent=true&apiKey=f814d152556d45aeb58d44f206a3cbd4" alt="" class="object-contain mt-4 w-full aspect-[100]" />
            </section>
            <footer class="mt-6">
              <p>Total Quantity: 8</p>
              <p class="mt-4">Total Paid: Php 11,000</p>
              <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/127bedc5722ce2dbaeda8972a2bd730f4ad88132b6a5e5ad9ff7010960cd1143?placeholderIfAbsent=true&apiKey=f814d152556d45aeb58d44f206a3cbd4" alt="" class="object-contain mt-2 w-full aspect-[100]" />
              <p class="mt-3">Total Hours: 5:00</p>
              <p class="mt-3">End - time</p>
              <p class="mt-4 text-4xl text-center">4:00 PM</p>
            </footer>
          </div>
        </article>
      </section>
      <aside class="flex flex-col ml-5 w-[65%] max-md:ml-0 max-md:w-full">
        <div class="flex flex-col w-full text-xl text-white max-md:mt-10 max-md:max-w-full">
          <div class="flex flex-wrap gap-14 items-center w-full max-md:max-w-full">
            <button class="flex flex-col grow shrink justify-center items-center self-stretch px-9 py-2 my-auto whitespace-nowrap bg-blue-500 rounded-md min-h-[38px] shadow-[0px_4px_4px_rgba(0,0,0,0.25)] w-[116px] max-md:px-5">
              <div class="flex gap-1.5 justify-center items-center">
                <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/4cea9b047b743b8266df80e21ca3ec12bd09b08d5ca445cdf31c04f9fe2c911d?placeholderIfAbsent=true&apiKey=f814d152556d45aeb58d44f206a3cbd4" alt="" class="object-contain shrink-0 self-stretch my-auto w-5 aspect-square" />
                <span>Print</span>
              </div>
            </button>
            <button class="grow shrink gap-2.5 self-stretch px-6 py-2 my-auto bg-amber-700 rounded-md min-h-[38px] shadow-[0px_4px_4px_rgba(0,0,0,0.25)] w-[157px] max-md:px-5">
              Done Printing
            </button>
            <button class="grow shrink gap-2.5 self-stretch px-6 py-2 my-auto bg-red-700 rounded-md min-h-[38px] shadow-[0px_4px_4px_rgba(0,0,0,0.25)] w-[151px] max-md:px-5">
              Delete Order
            </button>
          </div>
          <button class="gap-2.5 self-stretch px-6 py-2 mt-12 max-w-full bg-green-600 rounded-md min-h-[38px] shadow-[0px_4px_4px_rgba(0,0,0,0.25)] w-[186px] max-md:px-5 max-md:mt-10">
            Extend Time
          </button>
        </div>
      </aside>
    </main>
 